body {
	padding-top: 40px;
	background-color: skyblue;
}

.row {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid #eee;
	border-radius: 5px;
	padding: 10px;
	background-color: #eee;
}

.butt {
	margin-top: 5px;
}

.jumbotron {
	padding: 10px 40px;
}
