/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background-color: #96D8D2;
}

.active-route {
	font-weight: bold; 
}

/****** Click Styling ******/

.btn {	/* Styling for buttons */
	margin: 0 8px;
	display: inline-block;
	border: 0;
	font-size: 14px;
	border-radius: 3px;
	padding: 10px 5px;
	min-width: 100px;
	font-weight: 500;
}

.btn:focus {	/* Remove outline when hovering over button */
	outline: none;
}

.btn:active {	/* Scale the button down by 10% when clicking on button */
	transform: scale(0.9, 0.9);
	-webkit-transform: scale(0.9, 0.9);
	-moz-transform: scale(0.9, 0.9);
}

.btn-delete {	/* Styling for delete button */
	background-color: #ECEFF1;
	color: #212121;
}

/****** Other Styling ******/

.option{
	margin: 5px 0;
}

.mychart{
	height:400px; 
	width:100%;
	margin-top: 10px;
}

.login-btn{
    border: 1px solid;
    border-radius: 5px;
    background-color: #3B5998;
    color: white !important;
}

.login-btn:hover, .login-btn:focus{
    background-color: #3B5998 !important;
    color: white !important;
}

.login-btn:active {	/* Scale the button down by 10% when clicking on button */
	transform: scale(0.9, 0.9);
	-webkit-transform: scale(0.9, 0.9);
	-moz-transform: scale(0.9, 0.9);
}

.dropdown-toggle{
	cursor: pointer;
}

.signout-btn {
    display: block;
    width: 90%;
    margin: 0 auto;
}

.navbar-nav {
	margin-top: 0;
	margin-bottom: 0;
}